.drawer {
  width: 250px;
  height: 92vh;
  background: #fff;
  position: fixed;
  top: 8vh;
  left: 0;
  //   transform: translateX(-250px);

  &.active {
    transform: translateX(0);
  }

  h6 {
    font-size: 1.2rem;
    margin: 1rem;
  }

  ul {
    margin: 0;
  }
}
